{% extends 'home.html'%}

{% block content %}

    <div class="container">

        <h1>Actualizar un libro</h1>

        <form action="" method="post">
            
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="form-group mb-2 col col-lg-6">

                <p>Titulo: <input type="text" name="title" value="{{ book.title }}" class="form-control"></p>
                <p>Titulo: <input type="text" name="title" value="{{ book.title }}" class="form-control"></p>
                <p>Fecha de creación: <input type="text" name="creation_date" value="{{ book.creation_date }}" class="form-control"></p>
                <p>Editorial: <input type="text" name="editorial" value="{{ book.editorial }}" class="form-control"></p>

                <input type="submit" value="Actualizar libro" class="btn btn-primary">

            </div>


        </form>

        <br>

        <a href="{{ '/list_books' }}">Volver al listado</a>

    </div>


{% endblock %}